a.weakReference{
  color: #b310b6 !important;
}
a._wpv{
  color: #2f82d5 !important;
  text-decoration: underline !important;
  font-family: Monospace !important;
}
#sideNav, .noGrip, div._r_m,div._2pi4, a.profileLink, span.fwb.fcg a{
  font-family: Monospace !important;
}
div._568z em{
  color: #f00 !important;
}