a.weakReference{
  color: #b310b6 !important;
}
a._wpv{
  color: #2f82d5 !important;
  text-decoration: underline !important;
  font-family: Monospace !important;
}
#sideNav, .noGrip, div._r_m,div._2pi4, a.profileLink, span.fwb.fcg a{
  font-family: Monospace !important;
}
div._568z em{
  color: #f00 !important;
}
li._42fz[data-id="100008187521677"],
li._42fz[data-id="100011401676480"],
li._42fz[data-id="100004061350564"]{	/*your best friend*/
	border-left: solid #38f;
	border-right: solid 0.5px #f0f;
}
._3u6q ._2s1y{
	background: #7713f1 !important;
}
a._8_2[href="https://www.facebook.com/phony.97"],
a._8_2[href="https://www.facebook.com/RemoveU"]{ /*your profile*/
    background-image: url(/rsrc.php/v3/yC/r/QRYlLwFgbbH.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(100% + 3px) -28px;
}
._55y4 .homeSideNav .navHeader {
    background-color: #f6f7f9;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    padding-left: 9px !important;
    margin-left: -5px !important;
    margin-right: -1px !important;
}
.fbNub._50mz.minimized {
    width: 80px !important;
}