body{
    min-width: 400px;
}
.container{
    margin-bottom: 2px;
    min-height: 200px;
}
div.btn.btn-success{
    float: right;
}
.blocked{
    font-size: 20px;
    height: 50px;
}
div.list{
    min-height: 50px;
    max-height: 285px;
    overflow: auto;
}
div.btn-group{
    padding: 10px 0;
}

.import input{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel-body{
    width: 100%;
    padding: 0px;
}